modules/NETN-ORG/XmlSchema/extern/JC3IEDMMeteorological.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by Curtis Blais (Naval Postgraduate School) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.1:oo:2.0" targetNamespace="urn:int:nato:standard:mip:jc3iedm:3.1:oo:2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<documentation xml:lang="en">XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany</documentation>
	</annotation>
	<include schemaLocation="JC3IEDM-3.1-Codes-20061208.xsd"/>
	<simpleType name="AngleOptionalTypeRangeAngle7_4">
		<annotation>
			<documentation xml:lang="en">The rotational measurement between two lines and/or planes diverging from a common point and/or line. This measurement will be expressed in units of degrees.</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="7"/>
			<fractionDigits value="4"/>
			<minInclusive value="0.0000"/>
			<maxInclusive value="360.0000"/>
		</restriction>
	</simpleType>
	<simpleType name="DatetimeOptionalTypeFix18">
		<annotation>
			<documentation xml:lang="en">A designation of a specified chronological point measured using Coordinated Universal Time (UTC) ISO 8601:2000 as a standard of reference, constrained to zero meridian i.e. Zulu time zone only. This is expressed as a composite field using a compacted ISO notation YYYYMMDDHHMMSS.SSS where YYYY represents a year, MM represents a month in values from 00 to 12, and DD represents a day in values from 00 to 31, HH represents an hour, MM represents a minute, and SS.SSS represents the number of seconds and milliseconds. (Optional)</documentation>
		</annotation>
		<restriction base="string">
			<minLength value="18"/>
			<maxLength value="18"/>
		</restriction>
	</simpleType>
	<simpleType name="DimensionOptionalType12_3">
		<annotation>
			<documentation xml:lang="en">A non-negative one-dimensional linear distance measure. This will be expressed in metres. (Optional)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="12"/>
			<fractionDigits value="3"/>
			<minInclusive value="-999999999.999"/>
			<maxInclusive value="999999999.999"/>
		</restriction>
	</simpleType>
	<simpleType name="DimensionMandatoryType12_3">
		<annotation>
			<documentation xml:lang="en">A non-negative one-dimensional linear distance measure. This will be expressed in metres. (Mandatory)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="12"/>
			<fractionDigits value="3"/>
			<minInclusive value="-999999999.999"/>
			<maxInclusive value="999999999.999"/>
		</restriction>
	</simpleType>
	<simpleType name="QuantityOptionalType8_4">
		<annotation>
			<documentation xml:lang="en">A numeric value that denotes a measure of the physical property of an object. Class word quantity has a fixed unit of measure that must be specified on an attribute-by-attribute basis. Class word quantity is not to be used where class words angle, coordinate, count, dimension, and rate apply. (Optional)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="8"/>
			<fractionDigits value="4"/>
			<minInclusive value="-9999.9999"/>
			<maxInclusive value="9999.9999"/>
		</restriction>
	</simpleType>
	<simpleType name="RateOptionalType4_1">
		<annotation>
			<documentation xml:lang="en">A numeric value that denotes a physical property of an object expressed as a proportion of a physical property with respect to a unit of time.The unit of measure for class word rate must be specified on an attribute-by-attribute basis. (Optional)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="4"/>
			<fractionDigits value="1"/>
			<minInclusive value="-999.9"/>
			<maxInclusive value="999.9"/>
		</restriction>
	</simpleType>
	<simpleType name="RateOptionalType8_4">
		<annotation>
			<documentation xml:lang="en">A numeric value that denotes a physical property of an object expressed as a proportion of a physical property with respect to a unit of time.The unit of measure for class word rate must be specified on an attribute-by-attribute basis. (Optional)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="8"/>
			<fractionDigits value="4"/>
			<minInclusive value="-9999.9999"/>
			<maxInclusive value="9999.9999"/>
		</restriction>
	</simpleType>
	<simpleType name="RatioOptionalTypeRangeRatio6_5">
		<annotation>
			<documentation xml:lang="en">A numeric value representing the quotient of two values that have the same unit of measurement, i.e., ratio has no units of measure.  May be used to express a percentage. The allowable range must be specified on an attribute-by-attribute basis. (Optional)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="6"/>
			<fractionDigits value="5"/>
			<minInclusive value="0.00000"/>
			<maxInclusive value="1.00000"/>
		</restriction>
	</simpleType>
	<simpleType name="RatioOptionalTypeRangeRatio7_6">
		<annotation>
			<documentation xml:lang="en">A numeric value representing the quotient of two values that have the same unit of measurement, i.e., ratio has no units of measure.  May be used to express a percentage. The allowable range must be specified on an attribute-by-attribute basis. (Optional)</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="7"/>
			<fractionDigits value="6"/>
			<minInclusive value="0.000000"/>
			<maxInclusive value="1.000000"/>
		</restriction>
	</simpleType>
	<simpleType name="TemperatureTypeRangeTemperature5_1">
		<annotation>
			<documentation xml:lang="en">A measure of degree of hotness or coldness in an object or in space. This will be expressed in degrees Celsius.</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="5"/>
			<fractionDigits value="1"/>
			<minInclusive value="-273.2"/>
			<maxInclusive value="9999.9"/>
		</restriction>
	</simpleType>
	<complexType name="Atmosphere">
		<annotation>
			<documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies humidity, pressure, and temperature characteristics of Earth's atmosphere.</documentation>
		</annotation>
		<sequence>
			<element name="HumidityRatio" type="jc3iedm:RatioOptionalTypeRangeRatio6_5" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The numeric quotient value that represents the proportion of water present in the air to the maximum amount of water (saturation point) possible at a given temperature and pressure. The value must be in the range from 0 to 1.</documentation>
				</annotation>
			</element>
			<element name="InversionLayerCode" type="jc3iedm:AtmosphereInversionLayerCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the height of the inversion layer in the atmosphere. The stability class describes the degree of mixing of released material in the atmosphere.</documentation>
				</annotation>
			</element>
			<element name="PressureQuantity" type="jc3iedm:QuantityOptionalType8_4" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The numeric value that denotes the ambient air in terms of force per unit area. The unit of measure is newtons per square metre.</documentation>
				</annotation>
			</element>
			<element name="Temperature" type="jc3iedm:TemperatureTypeRangeTemperature5_1" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The numeric value that indicates the heat of the ambient air for a specific ATMOSPHERE.</documentation>
				</annotation>
			</element>
			<element name="TemperatureGradientCode" type="jc3iedm:AtmosphereTemperatureGradientCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents heat change with respect to the ground and 100 m in elevation in a certain area. Acts as an indication of vertical air movement between the ground and higher elevations.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CloudCover">
		<annotation>
			<documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the characteristics of clouds above Earth's surface.</documentation>
		</annotation>
		<sequence>
			<element name="CategoryCode" type="jc3iedm:CloudCoverCategoryCode" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the prevailing class of a specific CLOUD-COVER.</documentation>
				</annotation>
			</element>
			<element name="BaseDimension" type="jc3iedm:DimensionOptionalType12_3" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The one-dimensional linear distance representing the elevation of the lowest cloud base for a specific CLOUD-COVER.</documentation>
				</annotation>
			</element>
			<element name="TopDimension" type="jc3iedm:DimensionOptionalType12_3" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The one-dimensional linear distance representing the elevation of the highest cloud ceiling for a specific CLOUD-COVER.</documentation>
				</annotation>
			</element>
			<element name="AverageCoverageCode" type="jc3iedm:CloudCoverAverageCoverageCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the average density of a specific CLOUD-COVER as fractional coverage.</documentation>
				</annotation>
			</element>
			<element name="LightRefractionRatio" type="jc3iedm:RatioOptionalTypeRangeRatio7_6" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The numeric quotient value that represents the velocity of light in a specific CLOUD-COVER as a fraction of the velocity of light in a vacuum, based on cloud height. This represents the inverse of the index of refraction. The value must be in the range from 0 to 1.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="Icing">
		<annotation>
			<documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the accumulation of frozen water on stationary or moving surfaces.</documentation>
		</annotation>
		<sequence>
			<element name="CategoryCode" type="jc3iedm:IcingCategoryCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the class of a particular ICING.</documentation>
				</annotation>
			</element>
			<element name="SeverityQualifierCode" type="jc3iedm:IcingSeverityQualifierCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the severity of a particular ICING.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="Light">
		<annotation>
			<documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the availability of natural illumination by type and time.</documentation>
		</annotation>
		<sequence>
			<element name="CategoryCode" type="jc3iedm:LightCategoryCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the class of LIGHT.</documentation>
				</annotation>
			</element>
			<element name="UpDatetime" type="jc3iedm:DatetimeOptionalTypeFix18" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The character string representing a point in time that designates the time of day that marks the beginning of the period of effectiveness of the specified type of LIGHT.</documentation>
				</annotation>
			</element>
			<element name="DownDatetime" type="jc3iedm:DatetimeOptionalTypeFix18" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The character string representing a point in time that designates the time of day that marks the end of the period of effectiveness of the specified type of LIGHT.</documentation>
				</annotation>
			</element>
			<element name="MoonPhaseCode" type="jc3iedm:LightMoonPhaseCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the phase of the moon for a specific LIGHT.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="Precipitation">
		<annotation>
			<documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the type of particulate matter in the Earth's atmosphere and the rate of its descent onto the Earth's surface.</documentation>
		</annotation>
		<sequence>
			<element name="CategoryCode" type="jc3iedm:PrecipitationCategoryCode" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the prevailing class of a specific PRECIPITATION.</documentation>
				</annotation>
			</element>
			<element name="Rate" type="jc3iedm:RateOptionalType4_1" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The numeric value that denotes the amount of PRECIPITATION deposited per unit time. The unit of measure is millimetres per hour.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="Visibility">
		<annotation>
			<documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the distance at which an object illuminated by light in the visual spectrum can be detected.</documentation>
		</annotation>
		<sequence>
			<element name="CategoryCode" type="jc3iedm:VisibilityCategoryCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the class of obscurant that governs a particular VISIBILITY.</documentation>
				</annotation>
			</element>
			<element name="RangeDimension" type="jc3iedm:DimensionMandatoryType12_3" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The one-dimensional linear distance representing the distance which can be surveyed using visual observation for a specific VISIBILITY.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="Wind">
		<annotation>
			<documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the velocity and directional characteristics of atmospheric movement.</documentation>
		</annotation>
		<sequence>
			<element name="CategoryCode" type="jc3iedm:WindCategoryCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value that represents the class of WIND.</documentation>
				</annotation>
			</element>
			<element name="AirStabilityCategoryCode" type="jc3iedm:WindAirStabilityCategoryCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value used to indicate the class of air stability.</documentation>
				</annotation>
			</element>
			<element name="AltitudeLayerCode" type="jc3iedm:WindAltitudeLayerCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value used to indicate the class of the altitude for a specific set of reported wind data.</documentation>
				</annotation>
			</element>
			<element name="DirectionAngle" type="jc3iedm:AngleOptionalTypeRangeAngle7_4" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The rotational measurement clockwise between the line of true North and the direction from which a specific WIND originates.</documentation>
				</annotation>
			</element>
			<element name="EffectiveDownwindDirectionAngle" type="jc3iedm:AngleOptionalTypeRangeAngle7_4" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The rotational measurement of the mean downwind direction at ground level in the hazard area towards which the cloud travels.</documentation>
				</annotation>
			</element>
			<element name="SpeedRate" type="jc3iedm:RateOptionalType8_4" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The numeric value that denotes the distance per unit time of a specific WIND. The unit of measure is kilometres per hour.</documentation>
				</annotation>
			</element>
			<element name="NuclearYieldQualifierCode" type="jc3iedm:NuclearYieldGroupCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="en">The specific value used to identify predicted wind values associated with nuclear fallout prediction for a specific Nuclear yield group.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
